
<ion-view >
    <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-ios7-arrow-back"  ng-click="$root.go('mall.list')">  </button>
        <h1 class="title">兑换纪录</h1>
    </div>

    <!--内容区-->
    <ion-content class="has-header">

        <!-- 下拉刷新 -->
        <ion-refresher  pulling-text="" on-refresh="refresh()"  refreshing-icon="ion-loading-d"></ion-refresher>

        <div class="list exchangeList">
            <a class="item item-thumbnail-left item-icon-right" href="#/mall/detail" ng-repeat="post in posts">
                <img  ng-src="{{post.image}}"  class="full-image"      />
                <h2 class="exchangeName">{{post.productionName}}</h2>
                <div>
                        <i class="ib point-expired" style="margin-right: 7px;"></i><span class="mail-point color-gray-light">{{post.credit}}</span>
                </div>
                <div>
                    <span class="ib exchangeStatus "  ng-class="{'color-og':post.status=='0','color-gray-light' : post.status == '1'  }">{{post.status |  exchangeStatus}}</span>
                </div>
                <i class="icon ion-chevron-right  f18  color-gray"></i>
            </a>

        </div>

        <!-- 上拉加载 -->
        <!--<ion-infinite-scroll      on-infinite="loadMoreData()"  distance="1"  ></ion-infinite-scroll>-->

    </ion-content>

</ion-view>
