

<ion-view  view-title="知了商城">


        <ion-nav-buttons>
            <button class="button button-icon icon ion-ios7-arrow-back"  ng-click="$root.goCicadaBack();">  </button>
        </ion-nav-buttons>

    <!-- slide box -->
    <ion-slide-box  class="has-header"
            on-slide-changed="slideChanged($index)"
            scroll="true"
            show-pager='true'
            slide-interval="3000"
            auto-play="false">
        <ion-slide>
            <div>
                <a  class="block" >
                    <img class="full-image" src="img/banner/banner01.jpg" >
                </a>
            </div>
        </ion-slide>

        <ion-slide>
            <div>
                <a  class="block">
                    <img class="full-image" src="img/banner/banner01.jpg" >
                </a>
            </div>
        </ion-slide>

    </ion-slide-box>
    <!-- slide box -->

    <!--<div class="has-header pos-rel">-->
        <!--<img   src="img/banner/banner01.jpg" class="full-image" />-->
    <!--</div>-->
    <!--内容区-->
    <ion-content   class="has-header"    ng-style="{'marginTop':bannerHeight+'px'}">

        <section>
            <div class=" clearfix mall-nav">


                <div class="float_two text-center">
                    <a href="" class="block"  ng-click="$root.goCicadaVal();">
                        我的活跃值
                        <span class="color-og value " ng-hide="$root.isLoadingVal">{{$root.user.credit}}</span>
                        <i class="ion-loading-d icon color-og" ng-show="$root.isLoadingVal"></i>
                    </a>
                </div>
                <div class="float_two text-center">
                    <a href="#/mall/exchange" class="block">
                       兑换明细
                    </a>
                </div>
            </div>

        </section>

        <section>


            <div class="clearfix mall-icon">
                <div class=" float_two" ng-repeat="post in posts">
                    <a href="javascript:void(0);" ng-click="goDetail(post);"  class="block">
                        <section class="mail-base">
                            <div class="">
                                <img  ng-src="{{post.mediumImage}}" class="" width="100" />
                            </div>
                            <div>
                                <h5 class="mail-name">{{post.productionName}}</h5>
                            </div>
                            <div>
                                <!--<div class="ib">-->
                                    <!--<i class="ib point-expired"></i><span class="mail-point color-gary">{{post.point}}</span>-->
                                <!--</div>-->
                                <div class="">
                                    <span class="ib point t2"></span><span class="mail-point">{{post.credit}}</span>
                                </div>

                            </div>
                        </section>
                    </a>
                </div>


                <!--期待-->
                <div class=" float_two" >
                    <a href="javascript:void(0);"   class="block text-center">
                        <div class="shop-main">
                            <i class="ib shop"></i>
                            <div>
                                <span style="color: #d1d1d1">敬请期待</span>
                            </div>
                        </div>


                    </a>
                </div>

            </div>

        </section>


    </ion-content>





</ion-view>
